NAVIGATION:
  INTERFACE: 'wlp5s0'
  SUDO: True

  ROUTER_LOC:
    # name, x0, y0, rssi0, env_factor, rssi_var)
    - ["Scott Kyle's Network", -1, 6.0, -38, 2.2, 15, "rtr1"]
    - ["JoJoGirls", -28.0, 7.0, -20, 3.6, 20, "rtr2"]
    - ["Summer2020", 7, 13, -25, 2.8, 10, "rtr3"]
    - ["Summer2020-5G", 7, 13, -32, 3.5, 10, "rtr4"]
    - ["smk_iphone", -1.0, 0.0, -35, 4.0, 5, "rtr5"]
    - ["sdf_iphone", -1.0, 9.0, -35, 4.0, 5, "rtr6"]
    - ["Kitchen speaker.k", -1.0, 15.0, -30, 2.5, 15, "rtr7"]

  PROC_COVAR: 1

  STATE:
    ADDR: "127.0.0.1"
    PORT: 7474

GUIDANCE:
  NODES:
    TV:
      NODE_ID: 1
      COORD: [7, 13]
      CONNECTS_TO: [6, 7]
      ALIAS: "TV"
    CENTRE:
      NODE_ID: 2
      COORD: [0, 8]
      CONNECTS_TO: [6, 7, 3, 4, 5]
      ALIAS: ""
    TABLE:
      NODE_ID: 3
      COORD: [0, 13]
      CONNECTS_TO: [6, 7, 2]
      ALIAS: "Table"
    FRIDGE:
      NODE_ID: 4
      COORD: [6, 8]
      CONNECTS_TO: [2]
      ALIAS: "Fridge"
    FRONT_DOOR:
      NODE_ID: 5
      COORD: [0, 0]
      CONNECTS_TO: [2]
      ALIAS: "Door"
    LEFT_COUCH:
      NODE_ID: 6
      COORD: [4, 14]
      CONNECTS_TO: [1, 2, 3]
      ALIAS: ""
    RIGHT_COUCH:
      NODE_ID: 7
      COORD: [4, 11]
      CONNECTS_TO: [1, 2, 3]
      ALIAS: ""
  TASK:
    ADDR: "127.0.0.1"
    PORT: 7878

CONTROL:
  ORIGIN: False
